.bg{
    background-image: url(images/bgimg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.headerarea{
    text-align: center;
    /* padding: 32px 230px; */
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
}
.headerarea .icon-group{
    padding-top: 17px;
}
.headerarea .icon-group a{
    text-decoration: none;
    padding: 0 8px;
}
.headerarea .navbar ul li{
    padding: 0 5px;
    font-size: 18px;
}
.headerarea .navbar ul li a{
    color: #014B40;
}
.headerarea .navbar ul li:hover a{
    color: #037563;
}
.header2{
    padding: 4rem 0rem 21.75rem 57rem;
}
.header2 h1{
    font-size: 4.1rem;
}
.header2 p{
    padding: 15px 0;
    font-size: 1.2rem;
}
.header2 .btn{
    padding: 15px 30px;
}
.header2 .btn1{
    background-color: #014B40;
    color: #fff;
    font-size: 1.2rem;
}
.header2 .btn1:hover{
    border: 1px solid #014B40;
    background-color: #ffffff87;
    color: #013930;
    opacity: 1;
}
.featurearea,.flowerarea{
    padding: 120px 30px;
}
.featurearea .plantbox {
    background-repeat: no-repeat;
    background-size: contain;
    height: 338px;
    width: 343px;
    border-radius: 20px;
    position: relative;
}
.featurearea .feature{
    color: #014B40;
}
.featurearea .plantbox .buy{
    background-color: rgba(1, 75, 64, 0.2);
    backdrop-filter: blur(6px);
    bottom: -50px;
    position: absolute;
    width: 100%;
    padding: 12px 27px;
    line-height: 1;
    /* border-radius: 20px ; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: none;
}
.featurearea .plantbox .buy p{
    font-size: 18px;
}
.featurearea .plantbox .buy .btn{
    padding: 2px 22px;
    float: right;
    border-radius: 6px;
    margin-bottom: 15px;
}

.featurearea .plantbox:hover .buy{
    display: block;
    bottom: 0;
}
.featurearea .plantarea{
    padding: 0 30px;
}

.featurearea .feature h1{
    font-weight: 400;
}
.featurearea .plant1{
    background-image: url(images/plant1.png);
}
.featurearea .plant2{
    background-image: url(images/plant2.png);
}
.featurearea .plant3{
    background-image: url(images/plant3.png);
}


/* only for slider css starts*/
.sliderarea{
    padding-bottom: 200px;
}
.slider .slide {
    position: static !important;
}
.slider {
    position: relative !important;
}
 .featurearea .slider img{    
    border-radius: 20px;
    width: 100%;
    
 }
 .featurearea .sliderarea{
    padding: 0 !important;
}
 .featurearea .slider .col-md-4{
    padding: 15px !important;
    position: relative;
}
.featurearea .slider .col-md-4 .buy{
    background-color: rgba(1, 75, 64, 0.2);
    backdrop-filter: blur(6px);
    bottom: -50px;
    position: absolute;
    width: 100%;
    padding: 12px 27px;
    line-height: 1;
    color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: none;
}
.featurearea .slider .buy p{
    font-size: 22px;
}
.featurearea .slider .buy span{
    font-size: 18px;
}
.featurearea .slider .buy .btn {
    padding: 5px 25px;
    float: right;
    border-radius: 6px;
    margin-bottom: 15px;
}

.featurearea .slider .col-md-4 img:hover + .buy{
    display: block;
    bottom: 0;
}
.carousel-indicators {
    bottom: -80px !important;
}
.carousel-indicators button{
    height: 18px !important;
    width: 18px !important;
    border-radius: 50%;
    background-color: #014B40 !important;
    margin-left: 11px !important;
}

.carousel-control-next-icon {
    background-image: url(images/Vector.png)!important;
}
.carousel-control-next, .carousel-control-prev {
    box-shadow: 7px 1px 20px 0px #9b9b9b4d;
    top: 41% !important;
    width: 5% !important;
    height: 15% !important;
    border-radius: 50% !important;
    background: #fff !important;
    opacity: 1 !important;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 1.8rem !important;
    height: 1.35rem !important;
}
/* .carousel-control-next {
    right: -22px !important;
} */

/* only for slider ends here */

.searchflower{
    background-color: #014B40; 
    padding: 85px 230px;
}
.searchflower input{
    color: #014B40;
    padding: 18px; 
    width: 1124px;
    margin: 0 50px;
}
.searchflower .ico {
    float: right;
}
.searchflower .ico2 {
    float: left;
}

.flowerarea{
    padding: 120px 30px;
}
.flowerarea{
    color: #014B40;
}
.flowerarea h1{
    font-weight: 400;
}
/* .featurearea .plantarea{
    padding: 0 30px;
} */
.flowerarea .flower1{
    background-image: url(images/flower1.png);
}
.flowerarea .flower2{
    background-image: url(images/flower2.png);
}
.flowerarea .flower3{
    background-image: url(images/flower3.png);
}
.flowerarea .flower4{
    background-image: url(images/flower4.png);
}

.flowerarea .plantbox {
    background-repeat: no-repeat;
    background-size: contain;
    height: 343px;
    width: 343px;
    border-radius: 20px;
    position: relative;
}

.flowerarea .plantbox .buy{
    background-color: rgba(1, 75, 64, 0.2);
    backdrop-filter: blur(6px);
    bottom: -50px;
    position: absolute;
    width: 100%;
    padding: 12px 27px;
    line-height: 1;
    /* border-radius: 20px ; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: none;
}
.flowerarea .plantbox .buy p{
    font-size: 18px;
}
.flowerarea .plantbox .buy .btn{
    padding: 2px 22px;
    float: right;
    border-radius: 6px;
    margin-bottom: 15px;
}
.flowerarea .plantbox .buy .btn:hover{
    color: #000;
    background-color: #fff;
}

.flowerarea .plantbox:hover .buy{
    display: block;
    bottom: 0;
}
.plant-stand .plant-stand1{
    background-image: url(images/d1.png);
}
.plant-stand .plant-stand2{
    background-image: url(images/d2.png);
}
.plant-stand .plant-stand3{
    background-image: url(images/d3.png);
}

.shipping{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(images/sofa.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    color: white;
    margin: auto;
    margin-bottom: 100px;
    padding: 40px 330px 167px 330px;
    border-radius: 20px;

}
.shipping h1{
    font-weight: 400;
    font-size: 3.2rem;
}
.shipping h5{
    margin-bottom: 3rem;
}
.shipping p{
    line-height: 0;
}
.footerarea{
    background: #014B40;
    color: #fff;
    padding: 80px 230px;
}
.footerarea .contact .logobox{
    background-color: #ffffff10;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* float: right; */
}
.footerarea p{
    color: #ffffffb0;
    font-weight: lighter;
    margin-bottom: 0px;
    font-size: 14px;
}
.footerarea .contact h6{
    font-size: 20px;
    font-weight: 400;
}
.footerarea .contact .row{
    margin-bottom: 25px;
}
.footerarea h3{
    margin-bottom: 25px;
    font-weight: 400;
}
.footerarea a{
    text-decoration: none;
    color: #fff;
}
.footerarea ul{
    list-style: none;
    padding: 0;
}
.footerarea ul li{
    font-size: 19px;
    color: #ffffff99;
    font-weight: lighter;
    margin-bottom: 15px;
}
.footerarea .bottomfooter{
    background-color: #ffffff10;
    padding: 30px;
    border-radius: 10px;
    margin-top: 59px;
}
.footerarea .bottom{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 22px;
}
.footerarea .mail-section .row{
    margin-bottom: 30px;
}
.footerarea .mail-section .input-group{
    width: 440px;
    background-color: #ffffff10;
    border-radius: 10px !important;
}
.footerarea .mail-section .input-group input[type=email]{
    background-color: #ffffff10;
    padding: 18px;
    border: 0;
    color: #fff;
    border-radius: 10px !important;
}
.footerarea .mail-section .input-group input[type=email]::placeholder {
    color: rgb(255, 255, 255, 0.8);
    font-size: 18px;
    opacity: 1; 
  }

.footerarea .mail-section .input-group span{
    border: 0;
    position: absolute;
    right: 0;
    padding: 10px 18px;
    margin: 10px 10px;
    border-radius: 8px !important;
    background-color: #014B40;
}


@media screen and (min-width:300px) and (max-width:450px){
    .header2{
        padding: 20px 0px 50px 0px;
        text-align: center;
    }
    .header2 h1{
        font-size: 2.3rem;
    }
    .header2 p{
        font-size: 16px;
    }
    .header2 .btn{
        padding: 8px 20px;
        margin-top: 11px;
    }

    .sliderarea {
            padding: 39px 10px 65px 10px !important;
    }
    .sliderarea .feature {
        padding-bottom: 0.5rem !important;
    }
    .featurearea .slider .col-md-4 {
        padding: 3px !important;
    }
    .carousel-indicators button {
        height: 8px !important;
        width: 8px !important;
        border-radius: 50%;
        background-color: #014B40 !important;
        margin-left: 3px !important;
    }
    .carousel-indicators {
        bottom: -36px !important;
        margin-bottom: 0rem !important;
    }
    .carousel-control-next {
        top: 32% !important;
        width: 30px !important;
        height: 30px !important;
        /* left: 258px; */
    }
    .carousel-control-next-icon {
        width: 0.8rem !important;
        height: 0.8rem !important;
    }
    .featurearea .slider .col-md-4 .buy {
        padding: 10px 7px;
        border-radius: 13px;
    }
    .featurearea .slider .buy span {
        font-size: 12px;
        margin: 0px 26px;
    }
    .featurearea .slider .buy p {
        font-size: 12px;
        margin: 0 11px;
        margin-bottom: 2px;
    }
    .featurearea .slider .buy .btn {
        padding: 0px 15px;
        margin: 5px 10px 0 10px;
        font-size: 13px;
    }

    .featurearea {
        padding: 39px 30px;
    }
    .featurearea .plantbox{
        background-repeat: no-repeat;
        background-size: contain;
        height: 236px; 
        width: 236px;
        padding: 0;
    }
    .featurearea .plantarea{
        padding: 0;
    }
    .featurearea .plantbox .buy{
        padding: 12px 27px;
        line-height: 0.4;
        height: 80px;
    }
    .featurearea .plantbox .buy p{
        font-size: 15px;
    }
    .flowerarea .plantbox{
        background-repeat: no-repeat;
        background-size: contain;
        height: 236px; 
        width: 210px;
        padding: 0;
    }
    .flowerarea .plantarea{
        padding: 0;
    }
    .flowerarea .plantbox .buy{
        padding: 12px 27px;
        line-height: 0.4;
        height: 80px;
    }
    .flowerarea .plantbox .buy p{
        font-size: 15px;
    }
    .searchflower{
        padding: 50px 5px;
    }
    .searchflower input {
        padding: 10px;
        margin: 0 10px;
        width: 100%;
    }
    .searchflower .ico {
        width: 47px;
    }
    .searchflower .leaf {
        width: 39%;
    }

    .shipping{
        padding: 12px 69px;
        margin-bottom: 48px;
    }
    .shipping h1{
        font-weight: 400;
        font-size: 1rem;
    }
    .shipping h5{
        margin-bottom: 0.2rem;
        font-size: 0.7rem;
    }
    .shipping p{
        margin-bottom: 0.2rem;
        font-size: 0.6rem;
    }
    .footerarea {
        padding: 18px 19px;
    }
    .footerarea .mail-section .input-group {
        width: 100%;
    }
    .footerarea ul li {
        font-size: 16px;
        margin-bottom: 6px;
    }
    .footerarea a {
        font-size: 16px;
    }
    .footerarea h3 {
        margin-bottom: 13px;
        font-size: 18px;
        margin-top: 12px;
    }
    .footerarea .contact .logobox {
        width: 40px;
        height: 40px;
    }
    .footerarea .contact h6 {
        font-size: 18px;
    }
    .footerarea .bottomfooter {
        padding: 13px;
        font-size: 14px;
        margin-top: 0px;
    }
    .footerarea .bottom {
        justify-content: center;
        margin-top: 10px;
    }
    .footerarea .bottom {
        justify-content: center;
        margin-top: 10px;
        align-items: baseline;
        gap: 20px;
    }
}

@media screen and (min-width:375px) and (max-width:425px){
    .sliderarea {
        padding: 40px 20px 75px 20px !important;
    }
    .sliderarea .feature {
        padding-bottom: 0.5rem !important;
    }
    .featurearea .slider .col-md-4 {
        padding: 5px !important;
    }
    .carousel-indicators button {
        height: 8px !important;
        width: 8px !important;
        border-radius: 50%;
        background-color: #014B40 !important;
        margin-left: 3px !important;
    }
    .carousel-indicators {
        bottom: -36px !important;
        margin-bottom: 0rem !important;
    }
    .carousel-control-next{
        top: 39% !important;
        width: 34px !important;
        height: 35px !important;
        /* left: 341px; */
        /* right: -10 !important; */
    }
    .carousel-control-next-icon {
        width: 1rem !important;
        height: 1rem !important;
    }
    .featurearea .slider .col-md-4 .buy {
        padding: 18px 6px;
        border-radius: 20px;
    }
    .featurearea .slider .buy span {
        font-size: 15px;
        margin: 0px 36px;
    }
    .featurearea .slider .buy p {
        font-size: 13px;
        margin-bottom: 5px;
    }
    .featurearea .slider .buy .btn {
        padding: 0px 18px;
        margin: 7px 17px;
    }
    .featurearea .plantbox{
        background-repeat: no-repeat;
        background-size: contain;
        height: 280px;
        width: 280px;
        padding: 0;
    }
    .flowerarea .plantbox{
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        height: 329px;
        width: 290px;
        padding: 0;
    }
    .shipping {
        padding: 18px 87px;
    }
    .footerarea .mail-section .input-group {
        width: 100%;
    }

}
@media screen and (min-width:375px) and (max-width:375px){
    .carousel-control-next {
        top: 33% !important;
        width: 34px !important;
        height: 35px !important;
        /* left: 289px; */
    }
}
@media screen and (min-width:1200px) and (max-width:1440px){
    .header2 h1 {
        font-size: 4rem;
    }
    .header2 {
        padding: 5rem 0rem 21.75rem 50rem;
    }
    .footerarea .mail-section .input-group {
        width: 362px;
    }
    .footerarea {
        padding: 80px 167px;
    }
}